body {
  margin: 0;
}
.nav {
  height: 10vh;
  width: 100vw;
  background-color: #13262b;
}

.navLink {
  display: flex;
  flex-direction: row;
}
.gfly_img {
  padding: 10%;
}

p {
  color: white;
  padding: 3%;
}

.search {
  background-color: #030708;
  margin-top: 2%;
  border: none;
  border-radius: 3px;
  color: white;
  width: 80%;
}
#input_container { position:relative; padding:0; margin:0; }
#input { height:20px; margin:0; padding-left: 30px; }

#input_img { position:absolute; bottom:8px; left:10px; width:10px; height:10px; }
